/*

BLEU : #2C3E50; rgba(44,62,80,1)
GRIS : #ECF0F1;
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;}

@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 100;src: local('Alegreya Sans Thin'), local('AlegreyaSans-Thin'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/TKyx_-JJ6MdpQruNk-t-PMirbh6OUF7J5FHbYIz0tTY.woff) format('woff');}
@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 300;src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aanUXp5W4FLE8OnWB9t-aHo.woff) format('woff');}
@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 400;src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/KYNzioYhDai7mTMnx_gDgnt9r5m2YmP5sw3cUAQwL0E.woff) format('woff');}
@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 500;src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aRSu2h6M8zeGTOAvuRkzdcM.woff) format('woff');}


h1,h2,h3,h4,h5,h6{
    font-family: 'Alegreya Sans', sans-serif;
    color: #2C3E50;
}

html {
    color: #2C3E50!important;
    width: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Alegreya Sans';
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ECF0F1;
}

body {
    min-height:calc(100% - 180px); 
    background: #ECF0F1;
    font-weight: 300;
    font-size: 14px;
    line-height: 2em;
    text-align: center;
}

a {
    color: #2C3E50;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    font-size: 17px;
}
a:hover,
a:active,
a:focus {
    outline: 0;
    /*opacity: 0.8;*/
    text-decoration: underline;
}


.bg-grey{
  background: #ECF0F1;
  color: #2C3E50;
}
.bg-white{
  background: #FFF;
  color: #2C3E50;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
}
.bg-blue{
  background: #2C3E50;
  color: #FFF;

}


section{
    width: 100%;
    min-height: 250px;
    overflow: visible;
}
section h1{
    line-height: 250px;
    font-size: 36px;
}



section:first-of-type{
    min-height: 300px;
    padding-top: 140px;
}

.margin15{
    margin-top: 15px;
    margin-bottom: 0px;
}
.margin30{
    margin-top: 30px;
    margin-bottom: 0px;
}
.margin60{
    margin-top: 60px;
    margin-bottom: 0px;
}

.only-mobile{display: none;}


@media screen and (max-width: 650px){
    .only-mobile{
        display: block;
    }
    .only-desktop{
        display: none;
    }
}

footer{
    min-height: 200px;
    width: 100%;
}



#bar-connected{
    color: #555;
padding: 5px;
width: 100%;
height: 60px;
background: #ECF0F1;
text-align: left;
top: 0;
position: fixed;
z-index: 40000;
}

#bar-connected a{
    line-height: 50px;
    font-size: 14px;
    font-weight: 300;
}

#bar-connected p{
    line-height: 50px;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    padding-right: 15px;
}


#bar-connected p span{
    padding-right: 10px;
}


#bar-connected .fa{
    padding-right: 10px;
}

#bar-connected .fa-deconnect{
    position: absolute;
    font-size: 20px;
    color: #777;
    margin-right: 0px;
    border-radius: 6px;
}

#bar-connected .fa-message{
    font-size: 20px;
    color: #777;
    border-radius: 6px;
    margin-right: 15px;
}

#bar-connected .fa-message span{
    background: #e74c3c;
    position: absolute;
    color: #fff;
    margin-top: 9px;
    margin-left: -20px;
    border-radius: 50%;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 15px;
    font-size: 12px;
    text-align: center!important;
}

#bar-connected .fa-message:hover{
    opacity: 0.8;
}

#bar-connected .fa-deconnect:hover{
    opacity: 0.8;
}


#bar-connected p img{
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -5px;
}






#new-messages{
    display: none;
    float: right;
    margin-top: 20px;
    margin-right: 0px;
    width: 300px;
    background: #f6f6f6;
}

#new-messages-modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30000;
}

#new-messages .triangle-message{
    width: 20px;
    height: 20px;
    background: #e9e9e9;
    position: absolute;
    margin-left: 239px;
    margin-top: -10px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}


#new-messages a .new-message{
    background: #FFF;
}

#new-messages a:hover .new-message{
    background: rgba(44,62,80,0.05);
}
#new-messages .top-new-messages{
    width: 100%;
    height: 30px;
}
#new-messages .top-new-messages p{
    background: rgba(0,0,0,0.05);
    float: left;
    text-align: left;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
#new-messages .top-new-messages p span{
    padding: 2px;
    font-weight: 500;
}
#new-messages .bottom-new-messages{
    width: 100%;
    text-align: center;
    float: left;
    background: rgba(0,0,0,0.05);
}
#new-messages .bottom-new-messages a{
    font-weight: 500;
}
#new-messages .new-message{
    margin-top: 2px;
    min-height: 65px;
    min-width: 100%;
    border-bottom: 1px solid #ccc;
}
.new-message-pic{
    float: left;
    background: rgba(0,0,0,0.02);
    width: 55px;
    height: 55px;
    padding: 5px;
}
.new-message-pic img{
   border-radius: 0;
   width: 100%;
   height: 100%;
}
.new-message-desc{
}
.new-message-desc span{
    float: left;
    font-weight: 500;
    padding-left: 5px;
    margin-top: 3px;
    color: rgba(44,62,80,1);
    line-height: 30px;
    width: 233px;
}
#new-messages .new-message .new-message-desc p{
    float: left;
    font-weight: 400;
    padding-left: 5px;
    padding-top: 4px;
    line-height: 10px;
    color: rgba(44,62,80,0.5);
}





.user-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(44,62,80,0.7);
}

.user-modal-okay,.user-modal-clarify,.user-modal-error{
    position: fixed;
    top: 300px;
    left: calc(50% - 350px);
    width: 700px;
}


.user-modal-content{
    max-width: 700px;
    min-height: 230px;
    height: auto;
    padding-bottom: 30px;
    margin: 0px auto;
}



.user-modal-content p{
    padding: 20px;
    padding-bottom: 0px;
    margin: 20px auto;
    font-weight: 500;
    color: rgba(0,0,0,0.5);
}


.user-modal-content input{
    margin-top: 10px!important;
    text-align: center;
    float: left;
    left: calc(50% - 55px);
}



#adress-okay .user-modal-content h1{
    width: 100%;
    color: green;
    margin: 0px auto;
    padding: 15px;
    background: rgba(0,0,0,0.06);
}

#adress-clarify .user-modal-content h1{
    width: 100%;
    color: orange;
    margin: 0px auto;
    padding: 15px;
    background: rgba(0,0,0,0.06);
}

#adress-error .user-modal-content h1{
    width: 100%;
    color: red;
    margin: 0px auto;
    padding: 15px;
    background: rgba(0,0,0,0.06);
}

.user-modal{
    z-index: 30000;
}

.user-modal-error,.user-modal-clarify,.user-modal-okay{
     z-index: 30001;
}

.user-close-modal{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    padding-right: 20px;
    font-size: 1.5em;
}

@keyframes color_up {
    from {
        color: rgba(0,0,0);
    }
    to {
        color: rgb(255,0,0);
    }
}

@keyframes color_down {
    from {
        color: rgb(255,0,0);
    }
    to {
        color: '';
    }
}

.user-close-modal:hover{
    cursor: pointer;
    animation-name: color_up;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.user-close-modal-color-down{
    animation-name: color_down;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bounce_in{
    0% {
        opacity: 0;
        transform:scale(0);
    }
        
    60%{
        transform:scale(1.3);
    }
    100%{
       opacity: 1;
       transform:scale(1); 
    }
}

.user-modal-content h1 i{
    animation-name: bounce_in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}



#bouton-okay-test,#bouton-affiner-test,#bouton-error-test{
    margin: 30px;
    padding: 10px;
    background: #bbb;
}






































