/*

BLEU : #2C3E50; rgba(44,62,80,1)
GRIS : #ECF0F1;
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;}

@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 100;src: local('Alegreya Sans Thin'), local('AlegreyaSans-Thin'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/TKyx_-JJ6MdpQruNk-t-PMirbh6OUF7J5FHbYIz0tTY.woff) format('woff');}
@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 300;src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aanUXp5W4FLE8OnWB9t-aHo.woff) format('woff');}
@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 400;src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/KYNzioYhDai7mTMnx_gDgnt9r5m2YmP5sw3cUAQwL0E.woff) format('woff');}
@font-face {font-family: 'Alegreya Sans';font-style: normal;font-weight: 500;src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(http://themes.googleusercontent.com/static/fonts/alegreyasans/v1/11EDm-lum6tskJMBbdy9aRSu2h6M8zeGTOAvuRkzdcM.woff) format('woff');}


h1,h2,h3,h4,h5,h6{
    font-family: 'Alegreya Sans', sans-serif;
    color: #2C3E50;
}

html {
    color: #2C3E50!important;
    width: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Alegreya Sans';
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ECF0F1;
}

body {
    background: #ECF0F1;
    font-weight: 300;
    font-size: 14px;
    line-height: 2em;
    text-align: center;
}

a {
    color: #2C3E50;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    font-size: 17px;
}
a:hover,
a:active,
a:focus {
    outline: 0;
    /*opacity: 0.8;*/
    text-decoration: underline;
}


.bg-grey{
  background: #ECF0F1;
  color: #2C3E50;
}
.bg-white{
  background: #FFF;
  color: #2C3E50;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
}
.bg-blue{
  background: #2C3E50;
  color: #FFF;

}


section{
    width: 100%;
    min-height: 250px;
    overflow: visible;
}
section h1{
    line-height: 250px;
    font-size: 36px;
}



section:first-of-type{
    min-height: 300px;
}

.margin30{
    margin-top: 30px;
    margin-bottom: 0px;
}
.margin60{
    margin-top: 60px;
    margin-bottom: 0px;
}

.only-mobile{display: none;}


@media screen and (max-width: 650px){
    .only-mobile{
        display: block;
    }
    .only-desktop{
        display: none;
    }
}

footer{
    min-height: 200px;
    width: 100%;
}




