


#fixed-connect{
	width: 150px;
	height: 163px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100000;
	background: rgba(255,255,255,0.5);

	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

#fixed-connect #fixed-connect-pic{
	width: 150px;
	height: 113px;
}

#fixed-connect #fixed-connect-pic img{
	margin-top: 10px;
	border: 2px solid #ccc;
	border-radius: 50%;
}

#fixed-connect #fixed-connect-menu{
	width: 150px;
	height: 50px;
	line-height: 50px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

#fixed-connect #fixed-connect-menu a{
	margin: 0;
	padding: 14px;
	text-align: center;
	border-right: 2px solid rgba(44,62,80,0.2);
}
#fixed-connect #fixed-connect-menu a:last-of-type{
	border:none;
}

#fixed-connect #fixed-connect-menu a:hover{
	opacity: 0.8;
}

header {
    position: relative;
    background: #2C3E50; 
    width: 100%;
    z-index: 7000;
}
#menu {
	display: block;
    float: left;
    min-width: 100%;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul li {
    position: relative;
    float: left;
    margin: 0px;
    margin-right: 20px;
    line-height: 110px;
    z-index: 10;
}
#menu ul a {
	font-weight: 200;
	font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
}
#menu > ul > li:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 14px;
    left: -20px;
    top: 48px;
    border-right: 1px solid rgba(255,255,255,0.3);
}
#menu > ul > li:first-child:after,#menu > ul > li:nth-child(2):after{
	display: none;
}
header #menu ul li .button-home{
	font-size: 22px;
}

header #connect{
	margin-right: 0px; 
	font-size: 13px;
	float: right;
	color: #fff;
	line-height: 110px;
	text-transform: uppercase;
}




#nav-mobile-button{
	float: left;
}
#connect-mobile{
	float: right;
	margin-right: 0px;
	color: #fff;
	line-height: 110px;
	font-size: 15px;
}


header #connect .fa-unlock-alt, #connect-mobile .fa-unlock-alt{
	padding-right: 10px;
}


.menu-small{
	position: fixed;
	top: 0px;
	/*height: 80px;*/
}

.pad-top{
	margin-top: 170px;
}


@media screen and (max-width: 900px){
	.menu-small{
	position: relative;
	/*height: 80px;*/
}
.pad-top{
	margin-top: 0px;
}
}
/*
.menu-small #menu ul li{
    position: relative;
    float: left;
    margin: 0px;
    margin-right: 20px;
    line-height: 80px;
    z-index: 10;
}
.menu-small #menu > ul > li:after {
    top: 33px;
}
.menu-small #connect{
	line-height: 80px;
}
*/
#connect-form{
	color: #fff;
	width: 100%;
	min-height: 0px;
	overflow: hidden;
}

#connect-form .container{
	height: auto;
	min-height: 260px;
	padding-bottom: 30px;
}



input[type="text"]{
	float: left;
	display: block;
	width: 100%;
	padding:5px;
    padding-left: 10px;
    margin: 0;
    margin-top: 20px;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 4px;
}
input[type="date"]{
	float: left;
	display: block;
	width: 100%;
	padding:5px;
    padding-left: 10px;
    margin: 0;
    margin-top: 20px;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 4px;
}

input[type="password"]{
	float: left;
	display: block;
	width: 100%;
	padding:5px;
    padding-left: 10px;
    margin: 0;
    margin-top: 20px;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 4px;
}


input[type="submit"]{
	display: block;
	float: left;
	position: relative;
	padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-top: 20px;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    border-radius: 4px;
}

input[type="submit"]:hover{
	opacity: 0.8;
}


#connect-form h4{
	color: #fff;
	float: left;
	font-weight: 300;
	text-align: left;
	padding: 0px;
	margin-left: 0px;
}


#connect-form .container label, #connect-form .container input[type=text],#connect-form .container input[type=password]{
    padding: 10px;
    padding-left: 50px;
    border-radius: 3px;
}

#connect-form .form-champ1, #connect-form .form-champ2{position: relative;margin-top: 20px;}
#connect-form .form-champ1 i{
    position: absolute;
    float: left;
    left: 0px;
    top: 20px;
    line-height: 48px;
    color: #2C3E50;
    font-weight: 100;
    font-size: 17px;
    display: inline-block;
background: #fff;
border-radius: 3px;
height: 48px;
width: 40px;}

#connect-form .form-champ2 i{
    position: absolute;
    float: left;
    left: 0px;
    top:88px;
    line-height: 48px;
    color: #2C3E50;
    font-weight: 100;
    font-size: 17px;
    display: inline-block;
background: #fff;
border-radius: 3px;
height: 48px;
width: 40px;}





.no-count p{
	float: left;
	margin-top: 25px;
	font-size: 12px;
	text-align: left;
}

.no-count a{
	color: #ECF0F1;
	float: left;
	margin-top: 25px;
	font-size: 13px;
	text-align: left;
}

.no-count a .fa{
	padding-right: 5px;
}


#connect-form .container .direct-links{
	color: #fff;
	text-align: right;
	float: right;
}

#connect-form .container .direct-links h4{
	text-align: right;
	float: right;
	color: #fff;
	width: 100%;
	padding-bottom: 25px;
}


#connect-form .container .direct-links a{
	color: #fff;
	font-size: 13px;
	line-height: 2.4em;
}


#connect-form .container .col-md-3{
	height: auto;
	min-height: 260px;
	padding: 15px;
}



.direct-links-footer{
	color: #fff;
	text-align: right;
	float: right;
}


.direct-links-footer h4{
	text-align: right;
	color: #fff;
	width: 100%;
	padding: 20px;
	padding-right: 5px;
	margin-left: 5px;
}


.direct-links-footer a{
	color: #fff;
	font-size: 13px;
	line-height: 2.4em;
}


footer{
	bottom: 0;
	height: 180px;
	min-height: 180px;
}
footer h1{
	line-height: 180px;
	color: #FFF;
	background: rgba(255,255,255,0.05);
}

.contact-footer{
	color: #fff;
	text-align: left;
	float: left;
}

.contact-footer h4{
	text-align: left;
	color: #fff;
	width: 100%;
	padding: 20px;
	padding-left: 0px;
	padding-right: 5px;
	margin-left: 5px;
}


.contact-footer a{
	margin-left: 5px;
	color: #fff;
	font-size: 13px;
	line-height: 2.4em;
}

.contact-footer .fa{
	padding-right: 10px;
}




@media screen and (max-width: 980px){

#connect-form .container .col-md-3{
	padding: 15px;
	padding-bottom: 10px;
}

.hide980{
	display: none;
}
footer{
	height: 360px;
	min-height: 360px;
}

}

@media screen and (max-width: 890px){

#connect-form .container .col-md-3{
	height: 100px;
	padding: 15px;
	padding-bottom: 10px;
}
}


.close-form{
	width: 100%;
	float: left;
	text-align: center;
	text-decoration: none;
}
.close-form a{
	text-align: center;
	border: none;
	color: #FFF;
	
}

.home-form-search{
	min-height: 300px;
}


.home-form-search h4{
	text-align: left;
	padding: 15px;
	margin-left: 5px;
}








/* FORM */ 

#search-form{
	text-align: left;
	margin-top: 20px;
}

#search-form .form-col3{
	
	border-left: 1px solid #e5e6e9;
	padding-left: 20px;
}

#search-form .form-col2{
	padding-left: 30px;
	
}

#search-form .form-col1{
	border-left: 1px solid #e5e6e9;
	padding-left: 15px;
	padding-right: 30px;
}

#search-form .form-col1 p{
	line-height: 2;
}

#search-form .form-col3 #bud{
	width: 74px;
}

#search-form .form-col3 label{
	padding-bottom: 5px;
}

.choice{
	padding-left: 5px;
}

@media screen and (max-width: 980px){
#search-form .form-col3{
	margin-top: 20px;
	border-left: 0px solid #e5e6e9;
	padding-left: 20px;
	padding-bottom: 10px;
}
#search-form .form-col2{
	padding-left: 20px;
	padding-bottom: 0px;
}
#search-form .form-col1{
	padding-left: 20px;
	padding-bottom: 90px;
}
#search-form .form-col1 p{
	display: none;
}
#search-form .form-col3 label{
	padding-bottom: 0px;
}


}



.ui-multiselect {
	margin-top: 20px;
	padding:5px;
    padding-left: 10px; 
    text-align:left;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 4px;
}

.ui-multiselect span.ui-icon { float:right }

.ui-multiselect-header { display:none;}


.ui-multiselect-menu { display:none; padding:0px; position:absolute; margin-top:-5px;z-index:10000; text-align: left }

.ui-multiselect-checkboxes { position:relative; background: #ECF0F1;}
.ui-multiselect-checkboxes label { cursor:default; display:block; }
.ui-multiselect-checkboxes label input {margin-left: 10px; position:relative; top:1px }
.ui-multiselect-checkboxes span{padding-left: 10px;}
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px; text-decoration: none;list-style: none; }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold;}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }






.home-form-search input[type="text"]{
	width: 150px;
	padding:5px;
    padding-left: 10px;
    margin: 0;
    margin-top: 20px;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 4px;
}

.home-form-search input[type="submit"]{
	float: left;
	position: relative;
	padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-top: 20px;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    border-radius: 4px;
}

.home-form-search input[type="submit"]:hover{
	opacity: 0.8;
}


.home-form-search select {
    padding:5px;
    padding-left: 10px;
    margin: 0;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.home-form-search input[type="number"]{
	padding:5px;
    padding-left: 10px;
    margin: 0;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 4px;

}


@media screen and (max-width: 1200px){

.ui-multiselect{
	width: 170px!important;
}
.home-form-search .form-col2 input[type="text"]{
width: 100px;
}
}



.home-form-search-left{
	min-height: 135px;
}

.home-form-search-left:last-of-type{
	margin-top:30px;
	min-height: 135px;
}

.home-form-search-left h4{
	text-align: left;
	padding: 15px;
	margin-left: 5px;
}

.home-form-search-left p{
	text-align: left;
	margin-left: 20px;
	padding: 0px;
	padding-right: 15px;
}

.home-form-search-left:last-of-type a{
	text-align: left;
	display: block;
	font-size: 14px;
	margin-left: 20px;
	padding: 0px;
}

.home-form-search-left .fa{
	padding-right: 10px;
}

@media screen and (max-width: 980px){
	.home-form-search{
	margin-top: 30px;
}
.home-contact{
	margin-top: 20px;
}
}



.last-ann:hover{
	opacity: 0.8;
	cursor: pointer;
}
.last-ann-pic{
	width: 100%;
	height: 150px;
}
.last-ann-desc{
	padding: 10px;
}

.last-ann-title{
	padding: 15px;
	margin-top: 30px;
	text-transform: uppercase;
}





.home-contact{
	min-height: 140px;
}

.home-contact h4{
	text-align: left;
	padding: 15px;
	margin-left: 5px;
}

.home-contact p{
	text-align: left;
	margin-left: 0px;
	padding: 0px;
}

.home-contact a{
	text-align: left;
	display: block;
	font-size: 14px;
	margin-left: 20px;
	padding: 0px;
}






.home-contact .fa{
	padding-right: 10px;
}



.home-maps{
	
	margin-top:30px;
	min-height: 200px;
}


#map-canvas { width: 100%; height: 200px; z-index: 1;border: 5px solid #fff;}



.home-about{
	min-height: 372px;
}

.home-about h4{
	text-align: left;
	padding: 15px;
	margin-left: 5px;
}

.home-about p{
	text-align: left;
	margin-left: 20px;
	margin-top: 10px;
	padding: 0px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.home-about a{
	text-align: left;
	font-weight: 500;
	display: block;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 20px;
	padding: 0px;
}


.home-about .fa{
	padding-right: 10px;
}


#nav-mobile-button{
	text-align: left;
	color: #fff;
	line-height: 110px;
	font-size: 20px;
	padding: 0px;
}



#navigation-mobile {
    position: relative;
    z-index: 21;
    display: none;
    background: rgba(44,62,80,0.8);
}

#menu-nav-mobile {
    margin: 0;
    padding: 10px 0;
}

#menu-nav-mobile li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    list-style: none;
    text-align: left;
}

#navigation-mobile li a {
	position: relative;
    display: block;
    padding: 15px 0;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
}

#menu-nav-mobile ul.sub-menu {
    position: relative;
    top: auto;
    margin: 0;
    width: auto;
    background: transparent;
}

#menu-nav-mobile ul.sub-menu li {
    margin-top: 0;
    height: auto;
    border-top: 2px solid #2F2F2F;
}

#menu-nav-mobile .sub-menu li a {
    color: #818B92;
    padding-left: 20px;
}





.form-new-count{
	margin: 50px auto;
}


#form-new-count-title h3{
	padding: 15px;
	color: #fff;
}
#form-new-count-inner{
	padding: 15px;
	width: 100%;
	height: auto;
	min-height: 500px;
	margin: 20px auto;
	text-align: left; 
	padding-bottom: 30px;
}


#form-new-count-inner label{
	padding: 10px;
	padding-bottom: 5px;
}

#form-new-count-inner p{
	padding: 0px;
	margin-top: 0px!important;
}

#form-new-count-inner input{
	margin-top: 0px!important;
}

#form-new-count-inner img{
	margin-left: 5px;
}

#form-new-count-inner input[type=checkbox]{
	margin-right: 10px;
}

#form-new-count-inner input[type=submit]{
	margin-left: 0px;
}


#form-new-count-inner a{
	float: left;
	position: relative;
	padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    margin: 0;
    background: #ECF0F1;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    border-radius: 4px;
    margin-left: 15px;
}

#form-new-count-inner a:hover{
	text-decoration: none;
	opacity: 0.8;
}

